<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
  <title>Mercado Liebre | Home</title>
</head>

<body>
  <header>
    <div class="logo">
      <img class="imagen_logo" src="/img/logoMercadoLiebre.svg" />
    </div>
    <div class="header_buscador">
      <form action="">
        <input type="text">
        <button>Buscar</button>
      </form>
    </div>
    <div class="header_cuotas_sin_tarjeta">
      <p>Comprá en cuotas y sin tarjeta de crédito</p>
    </div>
    <nav>
      <ul>
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
      </ul>
      <ul>
        <li><a href="#">Creá tu cuenta</a></li>
        <li><a href="#">Ingresá</a></li>
        <li><a href="#">Mis compras</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="main_basado_en_tu_ultima_visita">
      <h2>Basado en tu última visita</h2>
      <article class="producto_cafetera">
        <img src="/img/cafetera.jpg">
        <p class="precio_producto">$6.770</p>
        <p class="precio_descuento_producto">40% OFF</p>
        <p class="nombre_producto">Cafetera Moulinex</p>
      </article>
      <article class="producto_macbook">
        <img src="/img/macbookpro.jpg">
        <p class="precio_producto">$230.000</p>
        <p class="precio_descuento_producto">20% OFF</p>
        <p class="nombre_producto">MacBook Pro 2019</p>
      </article>
      <article class="producto_samsungS10">
        <img src="/img/samsungS10.jpg">
        <p class="precio_producto">$70.500</p>
        <p class="precio_descuento_producto">10% OFF</p>
        <p class="nombre_producto">Samsung Galaxy S10</p>
      </article>
      <article class="producto_tvSmart">
        <img src="/img/tvSmart.jpg">
        <p class="precio_producto">$23.200</p>
        <p class="precio_descuento_producto">5% OFF</p>
        <p class="nombre_producto">SmartTv Samsung 43"</p>
      </article>
    </section>
    <section class="main_ofertas">
      <h2>Basado en ofertas</h2>
      <article class="producto_cafetera_oferta">
        <img src="/img/cafetera.jpg">
        <p class="precio_producto">$6.770</p>
        <p class="precio_descuento_producto">40% OFF</p>
        <p class="nombre_producto">Cafetera Moulinex</p>
      </article>
      <article class="producto_macbook_oferta">
        <img src="/img/macbookpro.jpg">
        <p class="precio_producto">$230.000</p>
        <p class="precio_descuento_producto">20% OFF</p>
        <p class="nombre_producto">MacBook Pro 2019</p>
      </article>
      <article class="producto_samsungS10_oferta">
        <img src="/img/samsungS10.jpg">
        <p class="precio_producto">$70.500</p>
        <p class="precio_descuento_producto">10% OFF</p>
        <p class="nombre_producto">Samsung Galaxy S10</p>
      </article>
      <article class="producto_tvSmart_oferta">
        <img src="/img/tvSmart.jpg">
        <p class="precio_producto">$23.200</p>
        <p class="precio_descuento_producto">5% OFF</p>
        <p class="nombre_producto">SmartTv Samsung 43"</p>
      </article>
    </section>
  </main>
  <footer>
    <section>
      <h4>Pagá con tarjeta o en efectivo</h4>
      <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
    </section>
    <section>
      <h4>Envío gratis desde $ 2.500</h4>
      <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.
      </p>
    </section>
    <section>
      <h4>Seguridad, de principio a fin</h4>
      <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p>
      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
  </footer>
</body>

</html>