<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Mercado Liebre | Home</title>
</head>

<body>
  <header>
    <div class="logo">
      <a href="/">
        <img class="imagen_logo" src="/img/logoMercadoLiebre.svg" />
      </a>
    </div>
    <div class="header_buscador-container">
      <form class="header_buscador" action="/search" name="search" method="POST">
        <input type="text" placeholder="Buscar productos, marcas">
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    </div>
    <div class="header_cuotas_sin_tarjeta">
      <p class="header__texto"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito
      </p>
    </div>
    <nav>
      <ul type="none" class="nav__options">
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
      </ul>
      <ul type="none" class="nav__user">
        <li><a href="/register">Creá tu cuenta<i class="fa-regular fa-id-card"></i></a></li>
        <li><a href="/login">Ingresá<i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
        <li><a href="#">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
      </ul>
      <div class="header__boton__burger-menu">
        <form action="">
          <button><i class="fa-solid fa-bars"></i></button>
        </form>
      </div>
    </nav>

  </header>
  <main>
    <section class="main_basado_en_tu_ultima_visita">
      <h2>Basado en tu última visita</h2>
      <article class="producto_cafetera">

        <img src="/img/cafetera.jpg">

        <div>
          <i class="fa-solid fa-truck"></i>
          <p class="precio_producto">$6.770</p>
          <p class="precio_descuento_producto">40% OFF</p>
          <p class="nombre_producto">Cafetera Moulinex</p>
        </div>
      </article>
      <article class="producto_macbook">

        <img src="/img/macbookpro.jpg">


        <div>
          <i class="fa-solid fa-truck"></i>
          <p class="precio_producto">$230.000</p>
          <p class="precio_descuento_producto">20% OFF</p>
          <p class="nombre_producto">MacBook Pro 2019</p>
        </div>

      </article>
      <article class="producto_samsungS10">


        <img src="/img/samsungS10.jpg">

        <div>
          <i class="fa-solid fa-truck"></i>
          <p class="precio_producto">$70.500</p>
          <p class="precio_descuento_producto">10% OFF</p>
          <p class="nombre_producto">Samsung Galaxy S10</p>
        </div>

      </article>
      <article class="producto_tvSmart">


        <img src="/img/tvSmart.jpg">

        <div>
          <i class="fa-solid fa-truck"></i>
          <p class="precio_producto">$23.200</p>
          <p class="precio_descuento_producto">5% OFF</p>
          <p class="nombre_producto">SmartTv Samsung 43"</p>
        </div>

      </article>
    </section>
    <section class="main_ofertas">
      <h2>Basado en ofertas</h2>
      <article class="producto_cafetera_oferta">

        <img src="/img/cafetera.jpg">

        <div>
          <i class="fa-solid fa-truck"></i>
          <p class="precio_producto">$6.770</p>
          <p class="precio_descuento_producto">40% OFF</p>
          <p class="nombre_producto">Cafetera Moulinex</p>
        </div>
      </article>
      <article class="producto_macbook_oferta">

        <img src="/img/macbookpro.jpg">

        <div>
          <i class="fa-solid fa-truck"></i>
          <p class="precio_producto">$230.000</p>
          <p class="precio_descuento_producto">20% OFF</p>
          <p class="nombre_producto">MacBook Pro 2019</p>
        </div>
      </article>
      <article class="producto_samsungS10_oferta">

        <img src="/img/samsungS10.jpg">

        <div>
          <i class="fa-solid fa-truck"></i>
          <p class="precio_producto">$70.500</p>
          <p class="precio_descuento_producto">10% OFF</p>
          <p class="nombre_producto">Samsung Galaxy S10</p>
        </div>
      </article>
      <article class="producto_tvSmart_oferta">

        <img src="/img/tvSmart.jpg">

        <div>
          <i class="fa-solid fa-truck"></i>
          <p class="precio_producto">$23.200</p>
          <p class="precio_descuento_producto">5% OFF</p>
          <p class="nombre_producto">SmartTv Samsung 43"</p>
        </div>
      </article>
    </section>
  </main>
  <footer>
    <section>
      <div>
        <i class="fa-solid fa-credit-card"></i>
      </div>
      <h4>Pagá con tarjeta o en efectivo</h4>
      <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
    </section>
    <section>
      <div>
        <i class="fa-solid fa-gift"></i>
      </div>
      <h4>Envío gratis desde $ 2.500</h4>
      <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.
      </p>
    </section>
    <section>
      <div>
        <i class="fa-solid fa-user-shield"></i>
      </div>
      <h4>Seguridad, de principio a fin</h4>
      <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p>
    </section>
    <section class="footer_copyrigth">
      <div>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </div>
    </section>
  </footer>
</body>

</html>