:root {
  --color-amarillo: #f4e033;
  --color-azul: #03264C;
  --color-celeste: #1259c3;
  --color-grisOscuro: #666;
  --color-grisClaro: #ebebeb;
  --color-verde: #39b54a;
  --color-blanco: #fff;
}

:root {
  --font: 'Roboto';
  --tamaño-cuerposDeTexto: 12px;
  --taamaño-titulares: 24px;
  --tamaño-precios: 18px;
  --tamaño-descuentos: 16px;
  --tamaño-descripciones: 16px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(206, 206, 206);
  font-family: var(--font);
}

/* HEADER */
header {
  background-color: var(--color-amarillo);
  width: 100%;
}

header ul {
  display: none;
}

header button i {
  color: var(--color-azul);
}

nav {
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: black;
}

/* MAIN */
main {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100%;
}

h2 {
  font-family: var(--font);
  font-size: var(--tamaño-titulares);
}

article {
  background-color: white;
  margin: 10px;
}

article div {
  border-top: 1px solid #ebebeb;
  padding: 15px;
  position: relative;
}

article div i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid var(--color-verde);
  background-color: var(--color-blanco);
  color: var(--color-verde);
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}

/* FOOTER */
footer {
  background-color: var(--color-amarillo);
  text-align: center;
  padding: 20px;
}

footer section div {
  color: var(--color-celeste);
}

footer section h4 {
  color: var(--color-grisOscuro);
}

footer section p {
  color: var(--color-grisClaro);
}