:root {
  --color-amarillo: #f4e033;
  --color-azul: #03264C;
  --color-celeste: #1259c3;
  --color-grisOscuro: #666;
  --color-grisClaro: #ebebeb;
  --color-verde: #39b54a;
}

:root {
  --font: 'Roboto';
  --tamaño-cuerposDeTexto: 12px;
  --taamaño-titulares: 24px;
  --tamaño-precios: 18px;
  --tamaño-descuentos: 16px;
  --tamaño-descripciones: 16px;

}