@import url(general.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* HEADER */
.logo {
  padding: 20px;
}

.header__texto {
  font-size: var(--tamaño-cuerposDeTexto);
}

.header_buscador {
  padding: 10px;
  text-align: center;
}

ul.header__texto {
  text-align: left;
}

.header_cuotas_sin_tarjeta {
  text-align: center;
}

.header__boton__burger-menu {
  text-align: center;
}

.header__boton__burger-menu form button {
  background-color: var(--color-celeste);
  border: none;
  font-size: 20px;
  border-radius: 20%;
}

.header__boton__burger-menu form button i {
  color: var(--color-blanco);
  margin: 5px;
}

/* MAIN */
.precio_descuento_producto {
  color: var(--color-verde);
  font-size: var(--tamaño-descuentos);
  width: 70%;
}

.precio_producto {
  font-size: var(--font-precios);
  width: 30%;
  font-size: var(--tamaño-precios);
}

.nombre_producto {
  font-size: var(--tamaño-descripciones);
  margin-top: 15px;
  color: var(--color-grisOscuro);
}

/* FOOTER */
.footer_copyrigth {
  text-align: left;
}

/*TABLET*/
@media (min-width:768px) and (max-width:1024px) {
  .header__boton__burger-menu {
    display: none;
  }

  header ul {
    display: block;
  }

  article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
}

/*DESKTOP*/
@media (min-width:1024px) {}