header {
  background-color: #fff159;
  width: 100%;
}

.logo {
  padding: 20px;
}

.imagen_logo {}



.header_buscador {
  padding: 10px;
  border: 1px solid yellow;
  text-align: center;

}

.header_cuotas_sin_tarjeta {
  text-align: center;
}

nav {
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: black;
}

main {
  width: 100%;
}

img {
  width: 100%;
}

p {
  font-family: 'Poppins';
}

.precio_descuento_producto {
  color: rgb(21, 183, 21);
}

.nombre_producto {
  font-weight: bold;
}

.precio_producto {
  font-size: larger;
  font-weight: lighter;
}

section {
  padding: 20px;
}

article {
  background-color: white;
  padding: 10px;
  margin-top: 20px;
}

.main_basado_en_tu_ultima_visita {}



body {
  margin: 0;
  background-color: rgb(206, 206, 206);
}