@import url(general.css);
@import url(normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* HEADER */
.logo {
  margin-top: 5px;
  width: 50%;
  padding-right: 5px;
}

.header__texto {
  font-size: var(--tamaño-cuerposDeTexto);
  padding: 10px;
}

ul.header__texto {
  text-align: left;
}

.header_cuotas_sin_tarjeta {
  text-align: center;
  width: 100%;
}

.header__boton__burger-menu {
  padding: 10px;
}

.header__boton__burger-menu form button {
  background-color: var(--color-celeste);
  border: none;
  font-size: 20px;
  border-radius: 20%;
}

.header__boton__burger-menu form button i {
  color: var(--color-blanco);
  padding: 7px;
}

/* MAIN */
.precio_descuento_producto {
  color: var(--color-verde);
  font-size: var(--tamaño-descuentos);
  width: 70%;
}

.precio_producto {
  font-size: var(--font-precios);
  width: 30%;
  font-size: var(--tamaño-precios);
}

.nombre_producto {
  font-size: var(--tamaño-descripciones);
  margin-top: 15px;
  color: var(--color-grisOscuro);
}

/* FOOTER */
.footer_copyrigth {
  text-align: left;
}

@media (max-width:768px) {
  .header_buscador {
    margin-top: 5px;
    width: 50%;
    display: flex;
    background-color: var(--color-blanco);
    height: 30px;
    border-radius: 4px;
    padding-left: 5px;

  }

  .header_buscador input {
    width: 85%;
    border: none;
    background-color: var(--color-blanco);
    outline: none;
  }

  .header_buscador input::placeholder {
    font-size: 13px;
  }

  .header_buscador button {
    width: 10%;
    border: none;
    background-color: var(--color-blanco);
    font-size: 12px;
  }

  .header_buscador button i {
    color: var(--color-grisOscuro);
  }
}

/*TABLET*/
@media (min-width:768px) {
  .logo {
    width: 33%;
  }

  .header_buscador {
    width: 33%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }

  .header_buscador input {
    width: 87%;
  }

  .header_buscador button {
    width: 10%;
  }

  .header_cuotas_sin_tarjeta {
    width: 33%;
  }

  .header__boton__burger-menu {
    display: none;
  }

  .header__texto {
    padding: 0;
  }

  /* NAV */
  .nav__options,
  .nav__user {
    width: 35%;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
  }
}

/*DESKTOP*/
@media (min-width:1024px) {}