@import url(general.css);
@import url(index.css);

/* PARTE DATOS DE USUARIO */
.register__main__form-container-datosDeUsuario,
.register__main__form-datosDeUsuario,
.register__main__form-container-datosPersonales,
.register__main__form-datosPersonales,
.register__main__form-container-perfilDeCuenta {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 5px;
}

.register__main__form-container-datosDeUsuario {
  margin: 15px 0;
}

#register-titulo-registrate {
  padding: 0;
  margin-top: 10px;
  text-align: center;
}

.register__main__form-container-datosDeUsuario label,
.register__main__form-container-datosPersonales label,
.register__main__form-container-perfilDeCuenta label {
  width: 100%;
  font-size: var(--tamaño-descripciones);
  text-transform: uppercase;
}

.register__main__form-datosDeUsuario input,
.register__main__form-datosPersonales input {
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 10px;
  margin-top: 10px;
  width: 80%;
  font-size: 15px;
}

.register__main__form-datosPersonales {
  width: 100%;
}

.register__main__form-datosDeUsuario span {
  color: red;
  font-size: 10px;
  width: 80%;
  text-align: initial;
  font-weight: lighter;
}

#register-fecha-nacimiento {
  color: var(--color-grisOscuro);
}

/* Perfil */
.register__main__form-perfilDeCuenta {
  display: flex;
  flex-direction: row-reverse;
  width: 50%;
  justify-content: center;
  margin: 10px 0;
}

.register__main__form-perfilDeCuenta label {
  width: 50%;
  font-size: var(--tamaño-cuerposDeTexto);
}

.register__main__form-perfilDeCuenta input {
  width: 20%;
}

/* INTERESES */